*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert-box,
.show{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.show{
  height: 60px;
  padding: 0 30px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background: #411aac;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.alert-box{
  padding: 30px;
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 450px;
  width: 100%;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% , -50%) scale(0.97);
  transition: all 0.3s ease;
}

#check:checked ~ .alert-box{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% , -50%) scale(1);
}

#check:checked ~ .background{
  opacity: 1;
  pointer-events: auto;
}

#check{
  display: none;
}

.alert-box .icon{
  height: 100px;
  width: 100px;
  color: #f23b26;
  border: 3px solid #f23b26;
  border-radius: 50%;
  line-height: 97px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-box h1{
  font-size: 27px;
  font-weight: 500;
  margin: 10px 0;
}
.alert-box p{
  font-size: 20px;
}
.alert-box .buttons{
  margin-top: 20px;
}
.buttons label{
  display: inline-flex;
  height: 55px;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  line-height: 55px;
  outline: none;
  margin: 0 10px;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.buttons .valid{
  background: #0bb224;
}

.buttons .valid:hover{
  background: #076615;
}

.buttons .cancel{
  background: red;
}

.buttons .cancel:hover{
  background: #c91805;
}
